<a href="https://colab.research.google.com/github/dp1500/Footiverse-Ml-models-Final-versions/blob/main/NN_model_for_footiverse_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/final_data_for_model_1.csv")

In [ ]:
df.head()

,Unnamed: 0,Unnamed: 0.1,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,home goals,away goals,home_result_list
0,0,0,3-4-3,165,601,133,370,2237,2258,4-4-1-1,285,588,435,370,2314,2342,4,3,W
1,1,1,4-4-2,277,435,282,278,2224,2210,3-5-2,228,491,285,232,2277,2216,0,2,L
2,2,2,3-4-3,312,300,260,340,2232,2267,4-4-1-1,214,485,237,387,2255,2233,2,3,L
3,3,3,3-5-2,145,381,292,215,2217,2322,4-2-3-1,315,602,206,150,2095,2258,0,3,L
4,4,4,3-4-3,226,483,146,152,2346,2317,3-4-3,278,491,357,211,2011,2188,1,0,W

In [ ]:
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

In [ ]:
len(df['formation'].unique())

27

# encoding formation column using target encoding

In [ ]:
df1 = df.copy()

In [ ]:
# autos["make_encoded"] = autos.groupby("make")["price"].transform("mean")

df1['formation'] = df1.groupby("formation")["home goals"].transform("mean")
df1['away formation'] = df1.groupby("away formation")["away goals"].transform("mean")

In [ ]:
df1.head()

,formation,gk rating,defence rating,midfield rating,attack rating,net stamina,net physicallity,away formation,away gk rating,away defence rating,away midfield rating,away attack rating,away net stamina,away net physicallity,home goals,away goals,home_result_list
0,1.567901,165,601,133,370,2237,2258,0.942529,285,588,435,370,2314,2342,4,3,W
1,1.231047,277,435,282,278,2224,2210,0.975207,228,491,285,232,2277,2216,0,2,L
2,1.567901,312,300,260,340,2232,2267,0.942529,214,485,237,387,2255,2233,2,3,L
3,1.107527,145,381,292,215,2217,2322,1.295652,315,602,206,150,2095,2258,0,3,L
4,1.567901,226,483,146,152,2346,2317,1.254630,278,491,357,211,2011,2188,1,0,W

In [ ]:
y_home_goals = df1['home goals'].to_numpy()

y_away_goals = df1['away goals'].to_numpy()

x_tree_based = df1.drop(['home goals', 'away goals', 'home_result_list'], axis=1).to_numpy()

In [ ]:
print(y_home_goals,y_away_goals)

[4 0 2 ... 1 1 0] [3 2 3 ... 0 0 0]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_tree_based = scaler.fit_transform(x_tree_based)

In [ ]:
len(x_tree_based)

1571

In [ ]:
x_train_tree = x_tree_based[:1500]
x_test_tree = x_tree_based[1500:]

x_train_tree_result = x_tree_based[:1500]
x_test_tree_result = x_tree_based[1500:]

y_train_home_goals = y_home_goals[:1500]
y_test_home_goals = y_home_goals[1500:]

y_train_away_goals = y_away_goals[:1500]
y_test_away_goals = y_away_goals[1500:]

## MODEL

In [ ]:
from sklearn.neural_network import MLPClassifier
clf_home_goals = MLPClassifier(solver='lbfgs', alpha=1e-5,
                   hidden_layer_sizes=(5, 7),  activation='relu', learning_rate='constant', 
                    learning_rate_init=0.001, power_t=0.5, max_iter=800)

clf_away_goals = MLPClassifier(solver='lbfgs', alpha=1e-5,
                   hidden_layer_sizes=(5, 7),  activation='relu', learning_rate='constant', 
                    learning_rate_init=0.001, power_t=0.5, max_iter=800)

# classifier to learn home goals
clf_home_goals.fit(x_train_tree,y_train_home_goals)

# classifier to learn away goals
clf_away_goals.fit(x_train_tree,y_train_away_goals)

# predicting home goals
NN_home_goals_train_prediction = clf_home_goals.predict(x_train_tree)
NN_home_goals_test_prediction = clf_home_goals.predict(x_test_tree)

# predicting away goals
NN_away_goals_train_prediction = clf_away_goals.predict(x_train_tree)
NN_away_goals_test_prediction = clf_away_goals.predict(x_test_tree)

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)
/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

In [ ]:
print(len(NN_home_goals_train_prediction),len(NN_away_goals_train_prediction))

1500 1500

### creating results from predicted data of home goals vs away goals from Neural netwrok

In [ ]:
# results predicted for training result
NN_train_result_prediciton_wrtHome = []
for i in range(len(NN_home_goals_train_prediction)):
  if NN_home_goals_train_prediction[i] - NN_away_goals_train_prediction[i] > 0:
    NN_train_result_prediciton_wrtHome.append(2)

  if NN_home_goals_train_prediction[i] - NN_away_goals_train_prediction[i] ==  0:
    NN_train_result_prediciton_wrtHome.append(1)
    
  if NN_home_goals_train_prediction[i] - NN_away_goals_train_prediction[i] < 0:
    NN_train_result_prediciton_wrtHome.append(0)

NN_train_result_prediciton_wrtHome = np.array(NN_train_result_prediciton_wrtHome)

# results predicted for test data result

NN_test_result_prediciton_wrtHome = []
for i in range(len(NN_home_goals_test_prediction)):
  if NN_home_goals_test_prediction[i] - NN_away_goals_test_prediction[i] > 0:
    NN_test_result_prediciton_wrtHome.append(2)

  if NN_home_goals_test_prediction[i] - NN_away_goals_test_prediction[i] == 0:
    NN_test_result_prediciton_wrtHome.append(1)
    
  if NN_home_goals_test_prediction[i] - NN_away_goals_test_prediction[i] < 0:
    NN_test_result_prediciton_wrtHome.append(0)

NN_test_result_prediciton_wrtHome = np.array(NN_test_result_prediciton_wrtHome)

In [ ]:
print(NN_home_goals_train_prediction,NN_away_goals_train_prediction)

[1 1 1 ... 1 1 1] [1 2 0 ... 0 0 1]

## creating array for actual results

In [ ]:
actual_results_for_train_Data = df1['home_result_list'][:1500].replace(['W', 'D', 'L'],[2, 1,0], inplace=False)
actual_results_for_test_Data = df1['home_result_list'][1500:].replace(['W', 'D', 'L'],[2, 1,0], inplace=False)

In [ ]:
actual_results_for_train_Data = actual_results_for_train_Data.to_numpy()
actual_results_for_test_Data = actual_results_for_test_Data.to_numpy()

## METRICS

In [ ]:
from sklearn.metrics import accuracy_score
print("training results accuracy: " + str(accuracy_score(actual_results_for_train_Data, NN_train_result_prediciton_wrtHome)))
      
print("test data results accuracy: " + str(accuracy_score(actual_results_for_test_Data, NN_test_result_prediciton_wrtHome)))

training results accuracy: 0.4653333333333333
test data results accuracy: 0.36619718309859156

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(actual_results_for_test_Data, NN_test_result_prediciton_wrtHome))

              precision    recall  f1-score   support

           0       0.38      0.17      0.24        29
           1       0.19      0.23      0.21        13
           2       0.43      0.62      0.51        29

    accuracy                           0.37        71
   macro avg       0.33      0.34      0.32        71
weighted avg       0.37      0.37      0.34        71

In [ ]:
print(actual_results_for_test_Data)
print(NN_test_result_prediciton_wrtHome)

[1 1 2 1 1 1 2 0 0 1 0 2 2 0 0 0 2 0 2 2 0 1 0 0 0 2 2 0 0 2 0 0 0 0 2 2 2
 0 2 0 1 2 0 2 0 1 0 2 2 0 0 0 2 0 2 2 2 2 0 2 0 1 2 2 2 1 1 0 2 2 1]
[2 0 2 1 2 1 2 1 0 2 2 2 2 0 1 2 0 2 2 1 2 1 2 2 0 2 1 2 1 2 2 2 2 0 1 2 2
 1 2 2 0 2 2 2 2 2 0 0 0 2 1 1 2 1 2 2 1 0 2 2 2 2 0 1 2 2 0 2 2 1 2]

## personal metric (how far off is every perdiction of each instance of goals perdicted vs goals actually scored)

### this metric shows in some way on avg how far away was your predictions...ideally i would like it to be less than1 1..that is less than 1 goal error in predictions on average

In [ ]:
def goal_error(actual_arr,pred_arr):
  sumError = 0
  for i in range(len(actual_arr)):
    sumError += (actual_arr[i]-pred_arr[i])**2
  
  return sumError/len(actual_arr)

### for home goals

In [ ]:
print("train data error: " + str(goal_error(y_train_home_goals, NN_home_goals_train_prediction)))
print("test data error: " + str(goal_error(y_test_home_goals, NN_home_goals_test_prediction)))

train data error: 1.7706666666666666
test data error: 1.5633802816901408

### for away goals

In [ ]:
print("train data error: " + str(goal_error(y_train_away_goals, NN_away_goals_train_prediction)))
print("test data error: " + str(goal_error(y_test_away_goals, NN_away_goals_test_prediction)))

train data error: 1.7626666666666666
test data error: 3.408450704225352